body {
  background: url(./img/qbkls.png) repeat 0 0;
}

table.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #8424ad;
  background-color: #4A4A4A;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
  color: #E6E6E6;
}
table.darkTable tr:nth-child(even) {
  background: #888888;
}
table.darkTable thead {
  background: #8424ad;
  border-bottom: 3px solid #000000;
}
table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.darkTable thead th:first-child {
  border-left: none;
}

table.darkTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
table.darkTable tfoot td {
  font-size: 12px;
}

#content div.button {
	text-align: center;	
}

#content div.button input {
	width: 100px;
	height: 50px;
	font-size: 20px;
}

#content div.button a {
	width: 100px;
	height: 50px;
	font-size: 20px;
	margin-right: 4px;
}

#error {
	text-align: center;
	font-size: 23px;
	color: #ff0000;
}

/* FOOTER FOR ALL THE PAGES */
#footer {
	background: white;
	color: white;
	text-align: center;
	padding: 10px;
	margin-top: 30px; 
	position: fixed;
    bottom: 0%;
    width: 100%;
	left: 0%;
}

#footer p {
	margin: 0;
}